@model IList<Zoo>

@{
    ViewData["Title"] = "Listar";
}

<h2>Listar</h2>

<mensagem texto="@TempData["msg"]"></mensagem>

<table class="table">
    <tr>
        <th>Nome</th>
        <th>Jaulas</th>
        <th>Tipo</th>
        <th>Data Abertura</th>
        <th>Opções</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Nome</td>
            <td>@item.Jaulas</td>
            <td>@item.EntidadeAdministradora</td>
            <td>@item.DataAbertura.ToShortDateString()</td>
            <td>
                <a class="btn btn-primary" asp-action="editar" asp-route-id="@item.ZooId">Editar</a>
                <button onclick="idExclusao.value = @item.ZooId" type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalExemplo">Remover</button>
                @*<a asp-action="editar" asp-route-id="@item.Zooo">Editar</a>*@

            </td>
        </tr>

    }
</table>

<!-- Modal -->
<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmar exclusão</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Deseja realmente excluir este item?
            </div>
            <div class="modal-footer">
                <form asp-action="remover">
                    <input type="hidden" name="id" id="idExclusao"/>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                    <button type="submit" class="btn btn-primary">Sim</button>
                </form>
            </div>
        </div>
    </div>
</div>

